body {
  background-image: url(./image/cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: none;
  min-height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  position: relative;
  color: black;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}
.topheader
{
  position: relative;
  left: 15px;
  bottom: 20px;

  font-family: 'Comic Neue', cursive;

}

.formbox{

  display: flex;
  padding: 80px;
  height: 300px;
  width: 300px;
  background: transparent;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}
.formcontainer{
  display: flex;
  flex-direction: column;
}

.inputText{
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 0 0 0 20px;
  color:black;

}
::-webkit-input-placeholder
{
  color: rgb(red, green, blue);

  
}

i{
  position: relative;
  top: -25px;
  left:-18px
}

#submitbtn{
  position: relative;
  left: 20px;

  height: 35px;
  width: 90%;
  
  border-radius: 30px;
  border: 2px solid aliceblue;

  padding: 0 0 0 20px;
  color: aliceblue;
  background-color: black;
  
 

}