/*for Register*/

#Register {
  background-image: url("image/reg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;      
  display: flex;
  color: white;

}


#formbox{
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
#formcontainer{
  height: 600px;
  width: 600px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(175, 168, 168);
  background: transparent;
 
}
#formheader{
    
  font-family: 'Comic Neue', cursive;
  font-size: 25px;
  position: absolute;
  margin-bottom: 80%;
  font-weight: bold;

}
#submitbtn{
  position: relative;
 
  height: 30px;
  width: 80%;
  border-radius: 25px;
  border: 2px solid aliceblue;
  color: rgb(6, 14, 21);
  font-size: 15px;
  background-color: rgb(215, 199, 199);
  
 

}
#resetbtn{
  position: relative;
 
  height: 30px;
  width: 60%;
  border-radius: 25px;
  border: 2px solid aliceblue;
  color: rgb(6, 14, 21);
  font-size: 15px;
  background-color: rgb(215, 199, 199);
  
 

}






