#home {
  background-image: url("image/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;      
  display: flex;

}


*{
  text-decoration: none;
 
  font-family: monospace;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav{
  background-color: brown;
  height: 80px;
  width: 100%;
  position: fixed;
}

#logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  position: fixed;
}

nav ul{
  float: right;
  margin-right: 50px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin-right: 30px;
 
}

nav ul li a{
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 7px 13px;
  border-radius: 3px;


}

#checkbtn{
  font-size: 35px;
  float: right;
  color: white;
  margin: 0 10px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}






#moto
{
  
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: bold;
  height: 70vh;
  position: absolute;
  top: 17%;
  left: 3%;
  text-shadow:  2px 2px 4px rgb(159, 6, 6);
  right: 10%;
}


#taglines {
  display:flex;
  position: absolute;
  top: 55%;
  left: 50%;
  font-family: 'Courier', monospace;
  font-size: 30px;
  color: rgb(241, 243, 246);
  text-shadow:  2px 2px 4px rgba(167, 17, 137, 0.7);
  font-weight: bold;
 
}

.tagline {
  display: none; 
}



#wel {
  display: flex;
  gap: 5px;
  height: 15vh;
  position: absolute;
  top: 70%;
  left: 30%;
 
}

#wel #welcome,span{

  position: relative;
  color: rgb(158, 22, 22);
  font-family: 'comic neue', cursive;
  font-size: 250%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  animation: bounce 0.6s ease infinite alternate;
}
#welcome span:nth-child(2){
  animation-delay: 0.1s;
}

#welcome span:nth-child(3){
  animation-delay: 0.2s;
}

#welcome span:nth-child(4){
  animation-delay: 0.3s;
}

#welcome span:nth-child(5){
  animation-delay: 0.4s;
}

#welcome span:nth-child(6){
  animation-delay: 0.5s;
}

#welcome span:nth-child(7){
  animation-delay: 0.6s;
}

@keyframes bounce{
  0%{
    top: 0;
  }
  100%{
    top: -20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}






@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}



@media (max-width: 900px) {
  #wel {
    display: none;
  }
  #moto
  {
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-height: 60vh;
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
  }
  #taglines{
    display: none;
  }
}


@media (max-width: 900px) {
  #checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin:50px 0 ;
  }
  nav ul li a{
    font-size: 20px;
  } 

  a.hover, a.active {
    background: none;
  }

#check:checked ~ ul{
  left: 0;
}

}



/*for Register*/

#Register {
  background-image: url("image/reg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;      
  display: flex;
  color: white;

}


#formbox{
  font-size: 15px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}
#formcontainer{
  height: 450px;
  width: 700px;
  margin-bottom: 300px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(175, 168, 168);
  background: transparent;
 
}

#formheader{
    
  font-family: 'Comic Neue', cursive;
  font-size: 25px;
  position: absolute;
  margin-bottom: 60%;
  font-weight: bold;

}
#submitbtn{
  position: relative;
 
  height: 30px;
  width: 80%;
  border-radius: 25px;
  border: 2px solid aliceblue;
  color: rgb(6, 14, 21);
  font-size: 15px;
  background-color: rgb(215, 199, 199);
  
 

}
#resetbtn{
  position: relative;

  height: 30px;
  width: 60%;
  border-radius: 25px;
  border: 2px solid aliceblue;
  color: rgb(6, 14, 21);
  font-size: 15px;
  background-color: rgb(215, 199, 199);
  
 

}
#formcontainer span{
  animation: none;
}
#emp_id_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}
#name_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}
#dept_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}
#date_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}
#gender_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}
#email_req {
  min-height: 20px;
  display: inline-block;
  color: red;
  font-size: 15px;
  display: none;
}



#formcontainer2{
  height: 280px;
  width: 600px;
  margin-top: 460px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(175, 168, 168);
  background: transparent;
  display: none;
  
 
}





/*Employee list*/

#employees {
  background-image: url("image/employye.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;      
 color: rgb(90, 143, 190);
 font-family: 30px;
 font-weight: bold;
  

}

#employee_table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#employee_table td {
  
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

#editSection {
  display: none;
  margin-top: 20px;
  border: 1px solid #f3eaea;
  padding: 15px;
  width: 30%;
}

#employee_table button {
  padding: 5px 10px;
  margin: 0 2px;
}

