body {
  margin: 0;
  padding: 0;
}

.index {
  background-image: url('./image/image1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;

}

.top {
  height: 40px;
  width: 100%;
  background-color: rgba(251, 246, 246, 0.419);
  display: flex;
  justify-content: left;
  border-left: 0;

}

.topLeft {

  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 30px;
  width: 35%;
  font-size: x-large;
  
}

.topLeft a
{
  text-decoration: none;
  color: black;
}




.logo1 {
  background-image: url("./image/music-note.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 20px;
  width: 20px;
  margin-left: 10px;

}

#topRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  width: 75%;
  box-sizing: border-box;
  
  margin-right: 100px;

}

nav a{
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: black;
  text-decoration: none;
  padding: 0 20px;
  
  
}

#logo2 {
  background-image: url(./image/magnifying-glass.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 20px;
  width: 20px;
  margin-left: 20px;
}